<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1><%= "Team Name: #{params[:name]}" %></h1>
   <h2><%= "Team Name: #{params[:coach]}" %></h2>
   <h2><%= "Team Name: #{params[:pg]}" %></h2>
   <h2><%= "Team Name: #{params[:sg]}" %></h2>
   <h2><%= "Team Name: #{params[:sf]}" %></h2>
   <h2><%= "Team Name: #{params[:pf]}" %></h2>
   <h2><%= "Team Name: #{params[:c]}" %></h2>



 </body>
</html>
